@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #fe2c55;
  --black: #000;
  --text-color: #fff;
  --text-color-dark: #afafb0;
  --color-hover: rgba(190, 187, 187, 0.215);

  --fz: 1.4rem;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}

// Fonts

// custom tippy tooltip

body {
  .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    font-size: var(--fz);
    line-height: 2.2rem;
    font-weight: 500;
  }
  .tippy-content {
    padding: 8px 9px;
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
}
